/* ==================================================================================================== 
    Author:   Basil Dick
    Project:  wlw-Projektarbeit Frühlingssemester 2026
    File:     style.css
    Purpose:  Styling for the client interface
====================================================================================================*/

/* ====================================================================================================
    1. Meyer Reset

    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
====================================================================================================*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ====================================================================================================
    2. Variablen
====================================================================================================*/

:root {
    /*Farben*/
    --color-primary: rgb(203 203 190);
    --color-secondary: rgb(0 119 234);
    --color-tertiary: rgb(0 1 73);
    --color-bg-light: rgb(0 255 34);

    /*Abstände & Radien*/
    --radius-main: 10px;
    --spacing-sm: 5px;
    --spacing-md: 10px;
    --spacing-lg: 20px;

}

/* ====================================================================================================
    3. Layout
====================================================================================================*/

body {
    margin: 0;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.site {
    margin: var(--spacing-md);
    width: 70%;
    flex: 1;
    background-color: var(--color-secondary);
    border-radius: var(--radius-main);
    display: flex;
    flex-direction: column;

}

.site header h1 {
    font-size: 50px;
}

header,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    color: var(--color-bg-light);
}

footer {
    margin: var(--spacing-sm);
}

footer img {
    height: 80px;
    width: auto;
    display: block;
    margin: var(--spacing-sm);
}

/* ====================================================================================================
    4. Komponenten
====================================================================================================*/

/* Logo */
.logo-container {
    position: absolute;
    top: var(--spacing-md);
    left: var(--spacing-md);
    width: 13%;
    z-index: 100;
    cursor: pointer;
}

.logo-container img {
    width: 100%;
    height: auto;
    cursor: pointer;
    display: block;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Title */
#site-header {
    font-family: 'Arial Black', sans-serif;
    text-shadow: var(--spacing-sm) var(--spacing-sm) #000;
    letter-spacing: var(--spacing-sm);
    text-transform: uppercase;
    font-weight: bold;
    animation: blink 0.5s step-start infinite;
    margin: var(--spacing-md);
}

/* Bubbles & Header */

.section-header {
    color: var(--color-bg-light);
    background-color: var(--color-tertiary);
    border-radius: var(--radius-main);
    margin: var(--spacing-sm);
    padding: var(--spacing-md);
}

.top-bubble {
    color: var(--color-bg-light);
    background-color: var(--color-tertiary);
    border-radius: var(--radius-main);
    margin: var(--spacing-sm);
    padding: var(--spacing-md);
}

.top-bubble p {
    color: var(--color-bg-light);
}

#plant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plant-item {
    background-color: var(--color-tertiary);
    color: var(--color-bg-light);
    border-radius: var(--radius-main);
    margin: var(--spacing-sm);
    padding-bottom: var(--spacing-md);
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
    justify-content: center;
    align-items: baseline;
    min-width: 250px;
    max-width: 300px;
    height: 280px;
    flex: 1 1 250px;
}

.plant-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 230px;

}

.plant-info {
    flex: 1;
}

.plant-picture {
    width: 120px;
    height: 200px;
    margin: 0;
    overflow: hidden;
    border-radius: var(--radius-main);
}

.plant-picture img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.newPlant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-tertiary);
    color: var(--color-bg-light);
    border-radius: var(--radius-main);
    margin: var(--spacing-sm);
    padding: var(--spacing-md);

}